<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>All items</h1>
</div>

<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
  *ngIf="loading | async else productsArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #productsArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngFor="let product of products | async"
    >
      <mat-card>
        <img
          [src]="product.image | image"
          [alt]="'Photo of' + product.title"
          mat-card-image
        />
        <h2>{{ product.title }}</h2>
        <mat-card-content>
          <p>Цена: <strong>{{ product.price }} </strong> Сом</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <a
            [routerLink]="['/products', product.id]"
            mat-button
          >VIEW</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>
