<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title></mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="" alt="Photo of ">
  <mat-card-content>
    <p>

    </p>
  </mat-card-content>
</mat-card>
