<h1 style="margin-left: 20px; margin-top: 10px">Create new item</h1>
<mat-card>
  <mat-card-content>
    <div class="error" *ngIf="error | async">
      {{ error | async }}
    </div>
    <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input name="title" #title="ngModel" required matInput ngModel/>
        <mat-error *ngIf="title.touched && title.hasError('required')">
          Title is required!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input type="number" #number="ngModel" required name="price" matInput ngModel/>
        <mat-error *ngIf="number.touched && number.hasError('required')">
          Number is required!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          name="description"
          ngModel
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
          required
          #description="ngModel"
        ></textarea>
        <mat-error *ngIf="description.touched && description.hasError('required')">
          Description is required!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <app-file-input name="image" ngModel required></app-file-input>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Select category</mat-label>
        <mat-select name="category" ngModel required #category="ngModel">
          <mat-option *ngFor="let category of categories | async" [value]="category.id">{{ category.title }}</mat-option>
        </mat-select>
        <mat-error *ngIf="category.touched && category.hasError('required')">
          Category is required!
        </mat-error>
      </mat-form-field>
      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid || (loading | async)"
        >Create item</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
